<ion-header>
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full" (click)="takePicture(imageElement)">Take a Photo</ion-button>
  <ion-button expand="full" (click)="loadContacts()">Load Contacts</ion-button>
  <img #imageElement alt="">
  <ion-list *ngIf="contacts">
    <ion-item *ngFor="let contact of contacts">
      {{contact.displayName}}
      <p>
        {{contact.phoneNumbers[0].number}}
      </p>
    </ion-item>
  </ion-list>
</ion-content>
